<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <form action="#" th:action="@{/chat}" th:object="${chatForm}"  method="post">
        <label for="messageText">Message Text:</label>
        <input id="messageText" type="text" name="messageText" th:field="*{messagetext}"><br/>
        <label for="messageType">Message Type: </label>
        <select id="messageType" th:field="*{messageType}">
            <option th:each="type: ${allMessageTypes}" th:value="${type}" th:text="${type}">Say</option>
        </select><br/>
        <input id="submit-message" type="submit">
    </form>
    <button id="logout-btn" onclick="location.href='/logout'">Logout</button>
    <div th:each="chatMessage: ${chats}">
        <h3>Chats</h3>
        <p class="message-text-and-username" th:text="${chatMessage}"></p><br/>
    </div>
</body>
</html>